<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Negocio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Negocio.Properties.Settings>
            <setting name="Negocio_WSBodega_Ws_Bodega" serializeAs="String">
                <value>http://data02.justtime.cl/Ws_Limatco/Ws_Bodega.svc</value>
            </setting>
        </Negocio.Properties.Settings>
    </applicationSettings>
</configuration>